version: "3.7"

services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq-dina'
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
        - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    networks:
        - dina_rabbitmq_net

  elasticsearch-dina:
    # we need a plugin so a custom image is built (to ensure an immutable Docker image)
    image: elasticsearch_icu:7.17.6
    build: elasticsearch/
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

  elastic-configurator:
    image: aafcbicoe/es-init-container:0.6
    environment:
      ELASTIC_SERVER_URL: $ELASTIC_SERVER_URL
      INDEX_CREATE_CMD: $INDEX_CREATE_CMD
      DINA_INDEX_DECLARATIONS: AGENT MATERIAL_SAMPLE STORAGE OBJECT_STORE LOAN_TRANSACTION
      DINA_AGENT_INDEX_NAME: $DINA_AGENT_INDEX_NAME
      DINA_AGENT_INDEX_SETTINGS_FILE: $DINA_AGENT_INDEX_SETTINGS_FILE
      DINA_MATERIAL_SAMPLE_INDEX_NAME: $DINA_MATERIAL_SAMPLE_INDEX_NAME
      DINA_MATERIAL_SAMPLE_INDEX_SETTINGS_FILE: $DINA_MATERIAL_SAMPLE_INDEX_SETTINGS_FILE
      DINA_STORAGE_INDEX_NAME: $DINA_STORAGE_INDEX_NAME
      DINA_STORAGE_INDEX_SETTINGS_FILE: $DINA_STORAGE_INDEX_SETTINGS_FILE
      DINA_OBJECT_STORE_INDEX_NAME: $DINA_OBJECT_STORE_NAME
      DINA_OBJECT_STORE_INDEX_SETTINGS_FILE: $DINA_OBJECT_SETTINGS_FILE
      DINA_LOAN_TRANSACTION_INDEX_NAME: $DINA_LOAN_TRANSACTION_NAME
      DINA_LOAN_TRANSACTION_SETTINGS_FILE: $DINA_LOAN_TRANSACTION_SETTINGS_FILE

    volumes:
      - ./elastic-configurator-settings:/usr/share/elastic-configurator/settings

  # Addition of Kibana, for development purpose or browsing through the dina indices.
  #kibana-dina:
  #  container_name: kibana-dina
  #  image: docker.elastic.co/kibana/kibana:7.16.2
  #  environment:
  #    - ELASTICSEARCH_HOSTS=http://elasticsearch-dina:9200
  #  ports:
  #    - 5601:5601
  #  depends_on:
  #    - elasticsearch-dina

  search-cli:
    image: aafcbicoe/dina-search-cli:0.20
    stdin_open: true
    tty: true
    environment:
      messaging.isConsumer: "true"
      messaging.isProducer: "true"
      rabbitmq.host: rabbitmq-dina
    networks:
      - dina_rabbitmq_net

  search-ws:
    image: aafcbicoe/dina-search-ws:0.20
    ports:
      - 8085:8085

volumes:
  elasticsearch-data:
    driver: local
  elastic-configurator-settings:
    driver: local    

networks:
  dina_rabbitmq_net:
    driver: bridge  
